/**
 *  We're printing the content before any sidebars, making an SEO friendly layout.
 *  This layout is dynamic and resizes #content depending on the number of sidebars.
 *  Just enter the widths of the sidebars and content, including the margins (grid thinking here).
 *  Any gutter between columns should only be entered under each .section.
 */
/* @group Content */
#content, .no-sidebars #content {
  float: left;
  width: 960px;
  margin-left: 0;
  margin-right: -960px;
  /* Negative value of #content's width + left margin. */

  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #content .section. */

}
.sidebar-first #content {
  width: 720px;
  margin-left: 240px;
  /* The width of #sidebar-first. */

  margin-right: -960px;
  /* Negative value of #content's width + left margin. */

}
.sidebar-second #content {
  width: 720px;
  margin-left: 0;
  margin-right: -720px;
  /* Negative value of #content's width + left margin. */

}
.two-sidebars #content {
  width: 480px;
  margin-left: 240px;
  /* The width of #sidebar-first */

  margin-right: -720px;
  /* Negative value of #content's width + left margin. */

}
#content .section {
  margin: 0 10px;
  padding: 0;
}
/* @end content */
/* @group Sidebar first */
#sidebar-first {
  float: left;
  width: 240px;
  margin-left: 0;
  margin-right: -240px;
  /* Negative value of #sidebar-first's width + left margin. */

  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #sidebar-first .section. */

}
#sidebar-first .section {
  margin: 0 10px;
  padding: 0;
}
/* @end first sidebar */
/* @group Sidebar second */
#sidebar-second {
  float: left;
  width: 240px;
  margin-left: 720px;
  /* Width of content + sidebar-first. */

  margin-right: -960px;
  /* Negative value of #sidebar-second's width + left margin. */

  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #sidebar-second .section. */

}
#sidebar-second .section {
  margin: 0 10px;
  padding: 0;
}
/* @end sidebar second */