/**
 *  This section is used for the wysiwyg and body content
 *  (e.g. .content .field-name-body)
 */
.wysiwygStyle ul {
  margin-left: 30px;
}
.wysiwygStyle ul li {
  list-style-type: disc;
  margin: 5px 0;
}
/* @group Drupal Messages */
div.messages {
  border-style: solid;
  border-weight: 1px;
  font-size: 0.929em;
  font-style: normal;
  margin: 10px;
  padding: 7px 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
div.messages::selection {
  background: rgba(0, 0, 0, 0.25);
}
div.messages::-moz-selection {
  background: rgba(0, 0, 0, 0.25);
}
div.messages.error {
  background: #c43c35;
  border-color: #9c302a;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  background-image: linear-gradient(top, #d2605a, #b03630);
  background-image: -o-linear-gradient(top, #d2605a, #b03630);
  background-image: -moz-linear-gradient(top, #d2605a, #b03630);
  background-image: -webkit-linear-gradient(top, #d2605a, #b03630);
  background-image: -ms-linear-gradient(top, #d2605a, #b03630);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #d2605a), color-stop(1, #b03630));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
}
div.messages.notice {
  background: #339bb9;
  border-color: #287a91;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  background-image: linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -o-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -moz-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -webkit-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -ms-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #50b2cf), color-stop(1, #2d8aa5));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
}
div.messages.status {
  background: #57a957;
  border-color: #458845;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  background-image: linear-gradient(top, #79ba79, #4e984e);
  background-image: -o-linear-gradient(top, #79ba79, #4e984e);
  background-image: -moz-linear-gradient(top, #79ba79, #4e984e);
  background-image: -webkit-linear-gradient(top, #79ba79, #4e984e);
  background-image: -ms-linear-gradient(top, #79ba79, #4e984e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #79ba79), color-stop(1, #4e984e));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1 0 #444444;
}
div.messages.warning {
  background: #eedc94;
  border-color: #e7ce68;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #404040;
  background-image: linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -o-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -moz-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -webkit-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -ms-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #f5eac0), color-stop(1, #ebd57e));
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) 1 0 #444444;
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) 1 0 #444444;
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) 1 0 #444444;
}
/* @end Drupal Messages */