/**
 *  This section is used for the wysiwyg and body content
 *  (e.g. .content .field-name-body)
 */
.wysiwygStyle ul {
  margin-left: 30px;
}
.wysiwygStyle ul li {
  list-style-type: disc;
  margin: 5px 0;
}
#body {
  background: #fff;
}
#page-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#main-wrapper {
  position: relative;
}
#content .content .field-name-body ul {
  margin-left: 30px;
}
#content .content .field-name-body ul li {
  list-style-type: disc;
  margin: 5px 0;
}
