/*  Messages */
/* Typography */
/**
 *  Box Shadow, support for up to four shadows.
 *  Input: horizontal, vertical, blur, spread, color
 *  No need to print out px.
 *  Ex: '.boxShadow(0, 2, 3, 0, rgba(0, 0, 0, 0.5) inset);'
 */
/**
 * @group Typography
 */
/**
 *  Font-familjer, även för Linux. Välj och klistra in nedan.
 *
 *  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
 *  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
 *  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  
 *  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
 *  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
 *  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
 *  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  
 *  font-family: "Courier New", "DejaVu Sans Mono", monospace;
 */
body {
  font-size: 14px;
  line-height: 21px;
}
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}
/* Vi sätter en standardmarginal på body font-size * 1,5 för att få en bra vertikal grundrytm. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
hr,
table,
fieldset {
  margin-bottom: 21px;
}
p {
  margin-bottom: 21px;
}
h1 {
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 21px;
}
h2 {
  font-size: 21px;
  margin: 0 0 21px 0;
}
h3 {
  font-size: 18px;
  margin-bottom: 21px;
}
h4,
h5,
h6 {
  font-size: 16px;
  margin-bottom: 21px;
}
hr {
  height: 1px;
  border: 1px solid #666;
}
pre {
  font-size: 15px;
  margin-bottom: 21px;
}
/**
 * This section is used for the wysiwyg and body content
 * Example use: .content .field-name-body {
 *                #wysiwygBundle > .contentStyles;
 *              } 
 */
#wysiwygBundle .contentStyles ul {
  margin-left: 30px;
}
#wysiwygBundle .contentStyles ul li {
  list-style-type: disc;
  margin: 5px 0;
}
/**
 * @end typography
 */
/**
 * @group Forms
 */
form .form-item {
  margin: 5px 0 15px;
}
form .form-item label {
  display: block;
  font-weight: bold;
}
form .form-item label span.form-required {
  color: #c43c35;
}
form .form-item label.option {
  display: inline;
  font-weight: normal;
  padding-left: 5px;
}
form .form-item input.form-text,
form .form-item textarea.form-textarea {
  background: #ffffff url('../graphics/input_bg.png') repeat-x top;
  border-top: 0px none;
  border-left: 1px solid #EDEDED;
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #f6f6f6;
  font-size: 1.2em;
  padding: 5px 3px;
  color: #AAA;
}
form .form-item input.form-text.focused,
form .form-item textarea.form-textarea.focused {
  color: #000;
}
form .form-item .description {
  font-size: 0.9em;
  color: #AAA;
}
form fieldset {
  background: #F6F6F6;
  padding: 10px;
  margin: 5px 0 15px;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
form fieldset legend {
  background: #F6F6F6;
  padding: 5px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1.2em;
  font-weight: bold;
}
form fieldset legend a {
  text-decoration: none;
}
form fieldset select.form-select {
  background: #FFF;
  padding: 3px;
  color: #666;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #FFFFFF;
}
form fieldset select.form-select option {
  background: #FFF;
  border-bottom: 1px solid #F6F6F6;
}
form input.form-submit {
  background: #EEE;
  color: #333;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
form input.form-submit:hover {
  background: #CCC;
  color: #000;
}
form select.form-select {
  background: #EEE;
  padding: 3px;
  color: #666;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #FFFFFF;
}
form select.form-select option {
  background: #FFF;
  border-bottom: 1px solid #F6F6F6;
}
/**
 * @end forms
 */
/**
 * @group Messages
 */
div.messages {
  border-style: solid;
  border-weight: 1px;
  font-size: 0.929em;
  font-style: normal;
  margin: 10px;
  padding: 7px 15px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
div.messages::selection {
  background: rgba(0, 0, 0, 0.25);
}
div.messages::-moz-selection {
  background: rgba(0, 0, 0, 0.25);
}
div.messages.error {
  background: #c43c35;
  border-color: #9c302a;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  background-image: linear-gradient(top, #d2605a, #b03630);
  background-image: -o-linear-gradient(top, #d2605a, #b03630);
  background-image: -moz-linear-gradient(top, #d2605a, #b03630);
  background-image: -webkit-linear-gradient(top, #d2605a, #b03630);
  background-image: -ms-linear-gradient(top, #d2605a, #b03630);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #d2605a), color-stop(1, #b03630));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
}
div.messages.notice {
  background: #339bb9;
  border-color: #287a91;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  background-image: linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -o-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -moz-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -webkit-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -ms-linear-gradient(top, #50b2cf, #2d8aa5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #50b2cf), color-stop(1, #2d8aa5));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
}
div.messages.status {
  background: #57a957;
  border-color: #458845;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #fff;
  background-image: linear-gradient(top, #79ba79, #4e984e);
  background-image: -o-linear-gradient(top, #79ba79, #4e984e);
  background-image: -moz-linear-gradient(top, #79ba79, #4e984e);
  background-image: -webkit-linear-gradient(top, #79ba79, #4e984e);
  background-image: -ms-linear-gradient(top, #79ba79, #4e984e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #79ba79), color-stop(1, #4e984e));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
  -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) 1px 0px #444444;
}
div.messages.warning {
  background: #eedc94;
  border-color: #e7ce68;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  color: #404040;
  background-image: linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -o-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -moz-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -webkit-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -ms-linear-gradient(top, #f5eac0, #ebd57e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.17, #f5eac0), color-stop(1, #ebd57e));
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) 1px 0px #444444;
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) 1px 0px #444444;
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) 1px 0px #444444;
}
/**
 * @end messages
 */
/**
 * @group Layout defaults
 */
/**
 *  We're printing the content before any sidebars, making an SEO friendly layout.
 *  This layout is dynamic and resizes #content depending on the number of sidebars.
 *  Just enter the widths of the sidebars and content, including the margins (grid thinking here).
 *  Any gutter between columns should only be entered under each .section.
 */
#page-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#main-wrapper {
  position: relative;
}
#content,
.no-sidebars #content {
  float: left;
  width: 960px;
  margin-left: 0;
  margin-right: -960px;
  /* Negative value of #content's width + left margin. */

  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #content .section. */

}
.sidebar-first #content {
  width: 720px;
  margin-left: 240px;
  /* The width of #sidebar-first. */

  margin-right: -960px;
  /* Negative value of #content's width + left margin. */

}
.sidebar-second #content {
  width: 720px;
  margin-left: 0;
  margin-right: -720px;
  /* Negative value of #content's width + left margin. */

}
.two-sidebars #content {
  width: 480px;
  margin-left: 240px;
  /* The width of #sidebar-first */

  margin-right: -720px;
  /* Negative value of #content's width + left margin. */

}
#content .section {
  margin: 0 10px;
  padding: 0;
}
#sidebar-first {
  float: left;
  width: 240px;
  margin-left: 0;
  margin-right: -240px;
  /* Negative value of #sidebar-first's width + left margin. */

  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #sidebar-first .section. */

}
#sidebar-first .section {
  margin: 0 10px;
  padding: 0;
}
#sidebar-second {
  float: left;
  width: 240px;
  margin-left: 720px;
  /* Width of content + sidebar-first. */

  margin-right: -960px;
  /* Negative value of #sidebar-second's width + left margin. */

  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #sidebar-second .section. */

}
#sidebar-second .section {
  margin: 0 10px;
  padding: 0;
}
#content .content .field-name-body ul {
  margin-left: 30px;
}
#content .content .field-name-body ul li {
  list-style-type: disc;
  margin: 5px 0;
}
/**
 * @end layout defaults
 */