/*  Messages */
/**
 *  Font-familjer, även för Linux. Välj och klistra in nedan.
 *
 *  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
 *  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
 *  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  
 *  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
 *  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
 *  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
 *  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  
 *  font-family: "Courier New", "DejaVu Sans Mono", monospace;
 */
body {
  font-size: 14px;
  line-height: 21px;
}
body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}
/* Vi sätter en standardmarginal på body font-size * 1,5 för att få en bra vertikal grundrytm. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
hr,
table,
fieldset {
  margin: 0 0 21px 0;
}
p {
  margin: 0 0 21px 0;
}
h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 21px 0;
}
h2 {
  font-size: 21px;
  margin: 0 0 21px 0;
}
h3 {
  font-size: 18px;
  margin: 0 0 21px 0;
}
h4, h5, h6 {
  font-size: 16px;
  margin: 0 0 21px 0;
}
hr {
  height: 1px;
  border: 1px solid #666;
}
pre {
  font-size: 15px;
  /* Monospace skrivs ut något mindre */

  margin: 0 0 21px 0;
}
/**
 *  This section is used for the wysiwyg and body content
 *  (e.g. .content .field-name-body)
 */
#wysiwygBundle {
  /* Default body styling */

}
#wysiwygBundle .contentStyles ul {
  margin-left: 30px;
}
#wysiwygBundle .contentStyles ul li {
  list-style-type: disc;
  margin: 5px 0;
}
/* 
 *  This file is used by the wysiwyg editor.
 *  Include it in the field "CSS path" as
 *  %bsites/all/themes/<theme_name>/css/wysiwyg.css
 *
 *  This file do not have to be edited, make changes in classes.less instead
 */
body {
  background: #fff;
  color: #000;
  font-size: 14px !important;
  /* Change this to whatever the body font size is */

  line-height: 150% !important;
  /* Scales with font sizes */

}
ul {
  margin-left: 30px;
}
ul li {
  list-style-type: disc;
  margin: 5px 0;
}
